strong {
  font-weight: normal;
  text-decoration: underline;
}

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>About Me</h1>
        <h2>About Me</h2>
        <div class="center-block">
          'testttttttt  we want to see how this will go ... <strong> VERY WELL <\strong>  ss'
          </div>
        <!--p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>-->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
