<section id="about" class="about">  
   <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <h1>About Me</h1>
        <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
        </div>
      </div>
     <div class="row">
      <div class="col-sm-6 text-center"><!--col-md-offset-2 text-center">-->
	 <center> >
	<img src="/img/myface.jpg" style="width: 100px"">
        </div>
        <div class="col-sm-6">
	<p>I'm a 29 year old with a Ph.D in particle physics who turned data scientist. </p>
	<!--<script>lichess_widgets.profile("dark", "n3utrino");</script> </p>-->
        </div>
     </div>
	   
   </div>


<!--section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2>About</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 text-center"><!--col-md-offset-2 text-center">-->
	<!--  <center> >
	<img src="/img/myface.jpg" style="width: 100px"">
      </div>
      <div class="col-sm-6">
	<p>I'm a 29 year old with a Ph.D in particle physics who turned data scientist. </p>
	<!--<script>lichess_widgets.profile("dark", "n3utrino");</script> </p>>
      </div>

    </div>
    
  </div-->


