<section id="about" class="about">  
   <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <h1> About Me </h1>
        <hr class="star-light">
      <!--p> My choice to pursue data science began in May 2017. Still under construction. </p-->
        </div><!-- close center text-->
      </div><!-- close row-->

    <br>

     <div class="row">
       <div class="col-sm-6 text-center">
	       <img src="/img/myinsightface.jpg" style="width: 380px">
       </div><!-- close left text-->

      <div class="col-sm-6">
	      <p> I am currently a fellow at <a href='http://www.insightdatascience.com'target="_blank">Insight Data Science</a> <a href='pdfs/Insight_Slides_Current.pdf'target="_blank"> New York </a>. I spent the majority of my graduate career stationed at Fermilab National Accelerator Lab (FNAL) in the Chicago area. I am interested in applying data science skills that I have picked up through my career and apply them to real world problems that positively impact companies, social interaction, and the world. </p>
	  <p>I am also very passionate about STEM outreach and giving back to the community. I have volunteered as speaker at the <a href="http://www.adlerplanetarium.org"target="_blank"> Adler Planetarium</a>, FNAL, and Cincinnati Observatory. I also frequently get involved in tech or data science meet-ups when ever possible. </p>

    <p> I also enjoy keeping an internet presence and enjoy frequenting sites such as <a href="http://www.datatau.com/"target="_blank"> DataTau</a>, <a href="https://news.ycombinator.com/"target="_blank"> HackerNews</a>, and keep personal <a href='blog'target="_blank"> blog</a>. Other interests include travel, <a href="https://www.instagram.com/groryangro/?hl=en"target="_blank">photography </a>, <a href="https://drive.google.com/file/d/0B9nzjxvGglKUeGZ4LVFJX2E5d3M/view?usp=sharing"target="_blank">playing piano</a>, riddles, and <a href="https://www.sadtrombone.com/?autoplay=true"target="_blank">sleep</a>. </p>

      </div><!-- close right text-->
      </div><!-- close row-->

    <br>
    <br>
    <h2><font style="color: #F7CE3E;">Some Science Stuff</font></h2>

    <div class="row">
      <div class="col-lg-12 text-center">
      <div class="col-lg-12 text-left">
      <p> My Thesis was done with the MicroBooNE detector at Fermi National Accelerator Lab (<a href="http://www.fnal.gov/" target="_blank">FNAL</a>) in Batavia, Il. The detector is large Liquid Argon Time Projection Chamber (LArTPC) which is to study the properties of neutrinos, a fundamental particle of nature. I joined the collaboration at the beginning of the construction phase and was lucky to play an integral role in assembling the primary TPC system of the detector.</p> 
    <p> Being able to contribute to both construction, commissioning, and data analysis is something most graduate student unfortunately do not get to do anymore. Below shows a video of cosmic ray particles that are reconstructed with our detector.</p> 
   <p> Check back soon, personal link to learn more about MicroBooNE will be available. For now, more information can be found at <a href="https://www-microboone.fnal.gov/" target="_blank"> MicroBooNE's website</a>
      </div><!-- close denter-->
    </div><!-- close row-->



    <div class="row">
      <div class="col-lg-12 text-center">
	<iframe width="100%" height="420px" 
		src="https://www.youtube.com/embed/vaoaeEBRYec?autoplay=1&playlist=vaoaeEBRYec&loop=1&controls=0">
	</iframe>
      </div><!-- close denter-->
    </div><!-- close row-->

 
   </div><!-- close containter-->
</section>
