<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work and Interests</h2>
        <hr class="star-light">
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="blog">

                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                <footer>Blog</footer>

              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="pdfs/grosso_resume.pdf">

                <img class="img-portfolio img-responsive" src="img/uc_robe_small.jpg">
                <footer>Credentials</footer>

              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www-microboone.fnal.gov/">

                <img class="img-portfolio img-responsive" src="img/ub_tpc_insert.jpg">
                <footer>Thesis Experiment</footer>

              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/1grossora">

                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                <footer>OLD MESSY GIT</footer>

              </a>
            </div>
          </div>

        </div><!-- /.row (nested) -->

       <!-- <a href="#" class="btn btn-dark">View More Items</a>-->

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
